<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.cara.agess">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cara Pocket"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Pour utiliser google play services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListeTourneeActivity"
            android:configChanges="orientation"
            android:label="Liste des tournées"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TourneeActivity"
            android:configChanges="orientation"
            android:label="Liste des Elements"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ScannerActivity" />
        <activity
            android:name=".AnomaliesActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_anomalies"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".MaintenanceActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_maintenance"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            >
        </activity>
        <activity
            android:name=".ElementActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OperationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_operation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".CaracteristiqueActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_caracteristique"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FiltreActivity"
            android:label="@string/title_activity_filtre"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EchangerActivity"
            android:label="@string/title_activity_echanger"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>